a {
	display: block;
	color: black;
	text-decoration-line: none;
}

thead {
	height: relative;
}

#employeein {
	display: table-cell;
	width: 50%;
}

#requests {
	display: table-cell;
	width: 50%;
}

.table {
	display: table;
	
}
.tablecell {

}

#employeeout {
	
}