input {
	width: 262px;
}

#difficulty {
	padding: 10px;
	border: 2px solid gray;
	box-sizing: border-box;
	font-size: 15px;
	text-align: center;
	color: black;
	background-color: white;
	outline: none;
}