input {
	width: 262px;
}

#difficulty {

	padding: 10px;
	border: 2px solid gray;
	box-sizing: border-box;
	font-size: 15px;
	text-align: center;
	color: white;
	background-color: gray;
	outline: none;
}
#cancel {
	background-color: red;
	border: 2px solid red;
}

#cancel:hover {
	color: red;
	background-color: white;
	border: 2px solid red;
}

#submit {
	background-color: green;
	border: 2px solid green;
}

#submit:hover {
	color: green;
	background-color: white;
	border: 2px solid green;
}