#incomplete {
	display: table-cell;
	vertical-align: top;
	padding-right: 50px;
}

#pic {
	display: table-cell;
}

#complete {
	display: table-cell;
	vertical-align: top;
}

.table {
	display: table;
}
