button {
	width: 175px;
	padding: 10px;
	margin-top: 25px;
	background-color: lightgray;
	border: 2px solid lightgray;
	box-shadow: none;

	text-decoration: none;
	font-size: 16px;
	color: black;
	text-align: center;
	cursor: pointer;
}

button:hover {
	transition-duration: .3s;
	background-color: white;
	color:black;
	border: 2px solid gray;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),
		0 6px 20px 0 rgba(0,0,0,0.19);
}

input {
	width: 353px;
	padding: 10px;
	border: 2px solid gray;
	box-sizing: border-box;
	font-size: 16px;
	color: black;
}